
  <link href="{{ asset('index_css_images/layout/styles/layout.css') }}"  rel="stylesheet" type="text/css" media="all"/>

{% include '::header.html.twig' %}



<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
  
    <h2 class="heading uppercase bold font-x2"> Welcome! To Login Page </h2>

		
    <div class="group products">
	   
	   
	    
	    					
<form action="{{ path('test_test_login') }}" id="loginform" method="post">
		
			<div class="divide">		
				<span class="label">		
				                <label class="foolog required" for="Questions_title">First Name</label>
				</span>
					<input type="text" id="email" name="name" required="required" class="foolog"  autofocus>  
					
			</div>
			
				<div class="divide">		
				<span class="label">		
				                <label class="foolog required">Password</label>
				</span>
					<input  type="password"  name="password" required="required" class="foolog">  
					
			</div>
			
			<div class="divide">			
				
					<button  type="submit" id="login_submit" >Submit</button>  
			</div>
			
						
		</form>

     
    </div>
    <div class="clear"></div>
  </main>
</div>




{% include '::footer.html.twig' %}



